<section id="userSettingsPage">

    __ERROR_MODAL__
    __SUCCESS_MODAL__

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">User Settings</li>
        </ol>
    </nav>

    <div class="login-form">
        <form action="" method="POST">
            <div class="form-group">
                <label>Login</label>
                <input type="text" class="form-control" name="user_login" placeholder="User login"
                    value="__USER_LOGIN__">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="user_pwd" placeholder="Password" value="__USER_PWD__">
            </div>
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="user_name" placeholder="User Name" value="__USER_NAME__">
            </div>
            <div class="form-group">
                <label>Firstname</label>
                <input type="text" class="form-control" name="user_firstname" placeholder="User Firstname"
                    value="__USER_FIRST_NAME__">
            </div>
            <button type="submit" class="btn btn-success" name="submit">Save changes</button>
        </form>
    </div>

</section>