#pageCocktail {
    display: flex;
    flex-direction: column;
}

#pageCocktail .card.recipe {
    align-self: center;
    width: 30vw;
}

#pageCocktail .card.recipe img {
    max-width: 30vw;
}

#pageCocktail .card.recipe .card-footer .badge {
    margin: 0 .5em;
}