<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="alert alert-success" role="alert">
            __MESSAGE__
        </div>
    </div>
</div>