#pageHome #recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#pageHome .card.recipe {
    align-self: flex-start;
    width: 40%;
    margin: 1em;
}

#pageHome .card.recipe .card-body .badge {
    margin: 0 .5em;
}