<section id="pageHome">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
        </ol>
    </nav>

    <div id="recipes">
        __RECIPES__
    </div>

</section>