<section id="signinPage">

    __ERROR_MODAL__

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Signin</li>
        </ol>
    </nav>

    <div class="login-form">
        <form action="" method="POST">
            <div class="form-group">
                <label>Login</label>
                <input type="text" class="form-control" name="user_login" placeholder="User login">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="user_pwd" placeholder="Password">
            </div>
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="user_name" placeholder="User Name">
            </div>
            <div class="form-group">
                <label>Firstname</label>
                <input type="text" class="form-control" name="user_firstname" placeholder="User Firstname">
            </div>

            <button type="submit" class="btn btn-success mt-3" name="submit">Register</button>
            <a href="?p=login" class="form-control btn btn-dark mt-3">Login</a>
        </form>
    </div>

</section>