<div class="card mb-3 recipe">
    <img class="card-img-top" src="__IMG_PATH__" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">__NAME__</h5>
        <div class="card-text">
            <ul>
                __INGREDIENTS__
            </ul>
        </div>
        <p class="card-text">__PREPARATION__</p>
        <div class="card-footer text-muted">
            __TAGS__
        </div>
    </div>
</div>